In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
url = 'https://raw.githubusercontent.com/mirokr/ml/main/AER_credit_card_data.csv'
data = pd.read_csv(url, true_values = ['yes'], false_values =['no'])
y = data.card
X = data.drop(['card'], axis=1)
print('No of rows:', X.shape[0])
X.head()

No of rows: 1319

   reports       age  income     share  ...  dependents  months  majorcards  active
0        0  37.66667  4.5200  0.033270  ...           3      54           1      12
1        0  33.25000  2.4200  0.005217  ...           3      34           1      13
2        0  33.66667  4.5000  0.004156  ...           4      58           1       5
3        0  30.50000  2.5400  0.065214  ...           0      25           1       7
4        0  32.16667  9.7867  0.067051  ...           2      64           1       5

[5 rows x 11 columns]

In [3]:
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [5]:
m_pipeline = make_pipeline(RandomForestClassifier(n_estimators=110))
c_scores = cross_val_score(m_pipeline, X, y, cv=4, scoring='accuracy')
print('CV accuracy: %f' % c_scores.mean())

CV accuracy: 0.980285

In [9]:
exp_cardholder = X.expenditure[y]
exp_noncardholder = X.expenditure[~y]
print('Did not receive card and no expenditures %.2f'  % ((exp_noncardholder == 0).mean()))
print('Received card and had no expenditure %.2f'  % ((exp_cardholder == 0).mean()))

Did not receive card and no expenditures 1.00
Received card and had no expenditure 0.02

In [10]:
#drop leaks

In [11]:
maybe_leaks = ['expenditure', 'share', 'active', 'majorcards']
Xb = X.drop(maybe_leaks, axis=1)

c_scores = cross_val_score(m_pipeline, Xb, y, cv=4, scoring='accuracy')
print('CV accuracy: %f' % c_scores.mean())

CV accuracy: 0.831692